@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";
@import "https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp";
@import "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css";

.ff-shrikhand {
    font-family: 'Shrikhand', serif !important;
}

.ff-saira {
    font-family: 'Saira Extra Condensed', sans-serif !important;
}


.fw-350 {
    font-weight: 350 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.letter-spacing-s {
    letter-spacing: 1.6px;
}


.letter-spacing-16 {
    letter-spacing: 16px;
}

.letter-spacing-20 {
    letter-spacing: 20px;
}

.letter-spacing-48 {
    letter-spacing: 40px;

    @media (min-width: 768px) {
        letter-spacing: 48px;
    }
}

.letter-spacing-64 {
    letter-spacing: 40px;

    @media (min-width: 768px) {
        letter-spacing: 64px;
    }
}

a {
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}



.more:hover {
    transform: scale(0.98) !important;
}

.nav-link:hover {
    opacity: 0.9;
}

.btn-submit-primary:hover {
    color: $primary !important;
    background-color: white !important;

    .material-symbols-outlined {
        color:$primary !important;
        transition: transform 0.3s;
        transform: rotate(180deg);
    }
}


.btn-submit-secondary:hover {
    color: $primary!important;

    .material-symbols-outlined {
        color:$primary !important;
        transition: transform 0.3s;
        transform: rotate(180deg);
    }
}


//nav hover
header, .hamburger-menu, .social-medial{
    li {
        a {
            position: relative;
            display: block;
            margin: 0 0px;
            padding: 5px 10px;
            color: white;
            transition: .5s;
    
            &::before {
                content: '';
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 10px;
                height: 10px;
                border: solid 2px white;
                border-width: 0 0 2px 2px;
                opacity: 0;
                transition: .5s;
            }
    
            &:hover:before {
                bottom: -8px;
                left: -8px;
                opacity: 1;
            }
    
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                width: 10px;
                height: 10px;
                border: solid 2px white;
                border-width: 2px 2px 0 0;
                opacity: 0;
                transition: .5s;
            }
    
            &:hover:after {
                top: -8px;
                right: -8px;
                opacity: 1;
            }
    
            &:hover {
                background: white;
                color: black !important;
            }
        }
    }
}


//footer hover
footer {
    a:hover {
      color: $primary !important;;
    }
}