@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0";
@import "https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp";

.ff-shrikhand {
    font-family: 'Shrikhand', serif !important;
}

.ff-saira {
    font-family: 'Saira Extra Condensed', sans-serif !important;
}


.fw-350 {
    font-weight: 350 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.letter-spacing-s {
    letter-spacing: 1.6px;
}

.letter-spacing-48 {
    letter-spacing: 48px;
}

.letter-spacing-64 {
    letter-spacing: 64px;
}

a {
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

.container-wide {
    padding-left: 80px;
    padding-right: 80px;


    @include pad() {
        padding-left: 12px;
        padding-right: 12px;
    }
}