<footer class="bg-white">
  <div class="container p-md-0 p-40">
    <div class="d-flex justify-content-between mx-auto flex-md-row flex-column justify-content-start">
      <div class="d-flex align-items-md-center">
        <a href="index.html" class="d-flex flex-column align-items-start text-black">
          <h2 class="fs-32 ff-shrikhand">ALPHABOX+</h2>
          <p class="letter-spacing-s d-md-block d-none">
            Copyright © 2023 Hexschool.
          </p>
        </a>
      </div>

      <span class="material-symbols-outlined fs-80 py-md-48 py-8">
        emergency
      </span>

      <ul class="list-unstyled d-flex align-items-md-center mb-0 gap-md-24 gap-8 flex-md-row flex-column">
        <li>
          <a href="about.html" class="fw-bold text-black">關於我們</a>
        </li>
        <li>
          <a href="#" class="fw-bold text-black">產品資訊</a>
        </li>
        <li>
          <a href="#" class="fw-bold text-black">常見問題</a>
        </li>
        <li>
          <a href="#" class="fw-bold text-black">隱私政策</a>
        </li>
        <li class="d-md-none d-block">
          <a href="#" class="fw-bold text-black letter-spacing-s">Copyright © 2023 Hexschool.</a>
        </li>
      </ul>
    </div>
  </div>
</footer>