<div class="container border-bottom border-1 border-white bg-primary">
  <div
    class="container-s d-flex align-items-center justify-content-between py-16 mx-auto"
  >
    <div class="d-flex align-items-center">
      <a href="index.html" class="d-flex align-items-center">
        <h1 class="text-white fs-32 ff-shrikhand">ALPHABOX+</h1>
      </a>
    </div>

    <ul class="list-unstyled d-flex align-items-center mb-0 gap-40">
      <li><a href="#" class="text-white fw-500">產品</a></li>
      <li><a href="about.html" class="text-white fw-500">關於我們</a></li>
      <li><a href="#" class="text-white fw-500">最新消息</a></li>
      <li><a href="#" class="text-white fw-500">FAQ</a></li>
      <li><a href="#" class="text-white fw-500">聯絡我們</a></li>
    </ul>

    <ul class="list-unstyled d-flex align-items-center mb-0 gap-24">
      <li>
        <a href="#" class="text-white fw-500">註冊</a>
      </li>
      <li>
        <a href="#" class="text-white fw-500">登入</a>
      </li>
      <li>
        <button
          class="btn w-100 btn-white ms-8 px-12 py-8 gap-4 d-flex align-items-center btn-white rounded-1 fw-500"
        >
          <span class="material-symbols-outlined"> point_scan </span>
          訂閱
        </button>
      </li>
    </ul>

    <!-- hamburgerMenu -->
    <!-- <div class="d-md-none d-block">
            <a class="btn btn-outline-primary rounded" data-bs-toggle="collapse" href="#hamburgerMenu" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="icofont-navigation-menu"></i>
            </a>
        </div> -->
  </div>
</div>
