<header class="bg-primary border-bottom border-1 border-white  position-relative">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-lg-16 mx-auto">
      <div class="d-flex align-items-center">
        <a href="index.html" class="d-flex align-items-center">
          <h1 class="text-white fs-md-32 fs-24 ff-shrikhand">ALPHABOX+</h1>
        </a>
      </div>


      <ul class="list-unstyled d-lg-flex align-items-center mb-0 gap-md-40 d-md-none d-none">
        <li><a href="#" class="text-white fw-500">產品</a></li>
        <li><a href="about.html" class="text-white fw-500">關於我們</a></li>
        <li><a href="#" class="text-white fw-500">最新消息</a></li>
        <li><a href="#" class="text-white fw-500">FAQ</a></li>
        <li><a href="contact.html" class="text-white fw-500">聯絡我們</a></li>
      </ul>

     <ul class="list-unstyled d-lg-flex align-items-center mb-0 gap-24 d-md-none d-none">
        <li>
          <a href="#" class="text-white fw-500">註冊</a>
        </li>
        <li>
          <a href="#" class="text-white fw-500">登入</a>
        </li>
        <li>
          <button
            class="btn btn-submit-secondary w-100 btn-white ms-8 px-12 py-8 gap-4 d-flex align-items-center btn-white rounded-1 fw-500">
            <span class="material-symbols-outlined"> point_scan </span>
            訂閱
          </button>
        </li>
      </ul>

      <!-- hamburgerMenu -->
      <div class="d-lg-none d-block">
        <a class="btn text-white" data-bs-toggle="collapse" href="#hamburgerMenu" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <span class="material-symbols-outlined  fs-44">
            menu
          </span>
        </a>
      </div>
    </div>
  </div>

</header>
<!-- hamburgerMenu -->
<div class="collapse position-absolute d-lg-none start-0 mx-0 w-100" id="hamburgerMenu"
  style="z-index: 10000;  background: linear-gradient(#7000FF, #11002D);">
  <ul class="navbar-nav me-auto mb-32 d-flex flex-column gap-16  align-items-center mt-24">
    <li class="nav-item">
      <a class="nav-link text-white fw-500">產品</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="about.html">關於我們</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="#">最新消息</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="#">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="contact.html">聯絡我們</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="#">註冊</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-500" href="#">登入</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-submit-secondary w-100 btn-white ms-md-8 px-12 py-8 gap-4 d-flex align-items-center btn-white rounded-1 fw-500">
        <span class="material-symbols-outlined fs-24"> point_scan </span>
        訂閱
      </button>
    </li>
  </ul>
</div>