.about {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);

    h2 {
        letter-spacing: 48px;

        @include pad() {
            letter-spacing: 40px;
        }
    }

    img {
        max-height: 280px;
        object-fit: cover;

        @include pad() {
            min-height: 280px;
        }
    }
}

.position {
    button:hover {
        background-color: $primary;
        color: $white;
    }
}

.service {
    p:nth-child(1) {
        max-width: 758px;
    }

    p:nth-child(2) {
        max-width: 600px;
    }

    p span::before {
        content: "";
        position: absolute;
        transform: translate(-50%, 0);
        top: 50%;
        left: 50%;
        z-index: -1;
        display: inline-block;
        width: 80px;
        height: 12px;
        background-color: #E9E2F3;
    }
}