.home {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 960px;
    background-image: url("/assets/images/home_background.png");
    background-size: cover;

    @include pad() {
      height: 1846px;
    }
  }

  // /////circle animation/////
  &-circle {
    img {
      max-width: 196px;
      animation-name: circle;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }
  }

  @keyframes circle {
    0% {
      rotate: 0deg
    }

    100% {
      rotate: 360deg
    }
  }

  &-studio {
    letter-spacing: 1.6px;
  }

  &-img {
    a {
      display: block;
      opacity: 1;
      @include zoom(0.2s);
    }

    a:hover {
      box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
    }
  }

  .img-name {
    margin-top: 0px;

    @include xl() {
      margin-top: 80px;
    }

    @include pad() {
      margin-top: 142px;
    }

    img {
      object-fit: cover;

      @include xl() {
        height: 580px;
      }

      @include pad() {
        height: 351px;
      }
    }
  }

  .img-name::before {
    content: "Diane";
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 1;
    color: $white;
    display: block;
    font-size: 32px;
    font-family: 'Shrikhand', serif;
    margin-top: 16px;
  }

  .img-name:nth-child(2)::before {
    content: "Felix";
  }

  .img-name:nth-child(3)::before {
    content: "Karina";
  }

  .img-name:nth-child(4)::before {
    content: "Vito";
  }

  &-title {
    transform: translate(-50%, 0);
    top: -50px;
    left: 50%;

    @media (min-width:1920px) {
      top: 0px;
    }

    @include xl() {
      transform: translate(-50%, -100%);
      top: 50px;
    }

    @include pad() {
      transform: translate(-50%, -100%);
      top: 100px;
    }

    span {
      font-family: 'Shrikhand', serif;
    }

    p:nth-child(2) {
      letter-spacing: 16px;

      @include xl() {
        letter-spacing: 4.8px;
      }
    }
  }
}



// ------------以下勿刪除--------------------------
// ------------以下勿刪除--------------------------
// ------------以下勿刪除--------------------------


// /////introduction/////
.intro {
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: -113px;
    display: block;
    width: 100%;
    height: 1080px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -113px;
    display: block;
    width: 50%;
    height: 100%;
    background-image: url('/assets/images/carousel.png');
    background-size: cover;
    background-position: center center;
    filter: blur(12px);
  }

  &-line {
    height: 40px;
    background: linear-gradient(90deg, #7000FF 0%, #11002D 100%);
  }

  &-line:nth-child(2) {
    background: linear-gradient(90deg, #11002D 0%, #7000FF 100%);
    width:80px;
  }

  h2 p {
    letter-spacing: 48px;

    @include pad() {
      letter-spacing: 24px;
    }
  }
}

.bg-primary-dark {
  background-color: #380c7e;
}

// --------------------intro swiper----------------------------
.alphabox {
  height: 351px;
  background-image: url(https://hackmd.io/_uploads/Syn6HV7Tn.png);
  background-size: cover;
  background-position: center;
  padding: 16px;
  @media (min-width: 768px) {
    height: 560px;
    padding-right: 40px;
  }

  &-title {
    letter-spacing: 24px;
    @media (min-width: 768px) {
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}

.rotate {
  rotate: 180deg;
}

// 箭頭
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  position: initial;
  margin-top: 0;
  width: auto;
  height: auto;

  &::after {
    content: "";
  }
}

// --------------------intro swiper----------------------------
// --------------------news----------------------------
.news-col{
  border-left: 0; 

  @media (min-width: 767px) {
    border-left:0;
  }

  @media (min-width: 992px) {
    border-left: 1px solid white; 
  }
}

// --------------------news----------------------------
// --------------------share----------------------------
.share {
  background: radial-gradient(#000000, #28085c 70%)
}

.share-background {
  font-size: 128px;
  color: rgba(255, 255, 255, 0.04);
  bottom: -70px;
  margin-left: -20px;

  @media (min-width: 767px) {
    font-size: 400px;
    line-height: 0.5;
    bottom: -40px;
    margin-left: 35px;
  }
}

.share {
  .swiper-slide {
    // max-width: 351px;

    @media (min-width: 767px) {
      max-width: 416px;
    }
  }


  .share-swiper {
    padding-left:12px;
    padding-right:12px;
    .swiper-wrapper {
      margin-bottom: 0;
      height: 416px;
    }
  }

  .swiper-scrollbar {
    background: rgba(255, 255, 255, 0.2);
  }

  .swiper-scrollbar-drag {
    background: #ffffff !important;
  }
}

.share {
  &-card {
    padding: 40px;
    color: #ffffff;
    min-height: 351px;
    background-color: #380c7e;
  }

  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;

    @media (min-width: 767px) {
      padding:0 12px;
    }

    @media (min-width: 992px) {
      padding-left: 16%;
      padding-right: 0px;
    }
  }

  .container-fluid .swiper {
    margin: 0 auto;
  }

  .swiper-wrapper {
    height: 100% !important;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  
  
    @media (min-width: 767px) {
      height: 416px !important;
      flex-direction: row;
    }
  }
}




.share-number::before {
  width: 70%;
  height: 2px;
  /* 重點 */
  content: "";
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* 重點 */
}


// --------------------share----------------------------