.home {

  // --------------------首頁背景-------------------
  &::before {
    content: "";
    background-image: url("/assets/images/home_background.png");
    background-size: cover;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
  }

  @include mobile() {
    position: unset;
    height: 100%;
  }

  // --------------------首頁circle動畫-------------------

  .box {
    position: relative;
    left: 0%;
    top: 0;
    height: 200px;
    width: 200px;
    animation: rotate_circle 10s infinite linear;
  }

  .item {
    top: 35%;
    left: 35%;
    color: white;
    position: absolute;
    width: 3em;
    height: 3em;
    transform: rotate(var(--a, 0deg)) translate(4.5em) rotateX(40deg);
    font: 900 1.2em/3em trebuchet ms, tahoma, verdana, sans-serif;
    text-align: center;
  }

  .item:nth-child(2) {
    --a: 20deg;
  }

  .item:nth-child(3) {
    --a: 40deg;
  }

  .item:nth-child(4) {
    --a: 60deg;
  }

  .item:nth-child(5) {
    --a: 80deg;
  }

  .item:nth-child(6) {
    --a: 100deg;
  }

  .item:nth-child(7) {
    --a: 120deg;
  }

  .item:nth-child(8) {
    --a: 140deg;
  }

  .item:nth-child(9) {
    --a: 160deg;
  }

  .item:nth-child(10) {
    --a: 180deg;
  }

  .item:nth-child(11) {
    --a: 200deg;
  }

  .item:nth-child(12) {
    --a: 220deg;
  }

  .item:nth-child(13) {
    --a: 240deg;
  }

  .item:nth-child(14) {
    --a: 260deg;
  }

  .item:nth-child(15) {
    --a: 280deg;
  }

  .item:nth-child(16) {
    --a: 300deg;
  }

  .item:nth-child(17) {
    --a: 320deg;
  }

  .item:nth-child(18) {
    --a: 340deg;
  }

  @keyframes rotate_circle {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .circle {
    background-color: white;
    height: 24px;
    width: 24px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rotate {
    transform: rotate(270deg);
  }

  // --------------------首頁circle動畫-------------------
  
  &-studio {
    letter-spacing: 1.6px;
  }

  &-img {
    a {
      display: block;
      opacity: 1;
      @include zoom(0.2s);
    }

    img:hover {
      box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
    }
  }

  .img-name {
    &:first-child {
      @include pad() {
        margin-top: 32px;
      }

      @include mobile() {
        margin-top: 170px;
      }
    }

    &:not(:first-child) {
      @include pad() {
        margin-top: 16px;
      }
    }

    &-diane,
    &-vito {
      max-height: 676px;
    }

    &-felix,
    &-karina {
      max-height: 580px;
    }
  }

  .img-name::before {
    content: "Diane";
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 1;
    color: $white;
    display: block;
    font-size: 32px;
    font-family: 'Shrikhand', serif;
    margin-top: 16px;
  }

  .img-name:nth-child(2)::before {
    content: "Felix";
  }

  .img-name:nth-child(3)::before {
    content: "Karina";
  }

  .img-name:nth-child(4)::before {
    content: "Vito";
  }

  &-title {
    transform: translate(-50%, 0);
    top: 0px;
    left: 50%;

    @include xl() {
      transform: translate(-50%, -100%);
      top: 75px;
    }

    @include l() {
      top: 45px;
    }

    @include mobile() {
      top: 160px;
    }

    span {
      font-family: 'Shrikhand', serif;
    }

    p:nth-child(2) {
      letter-spacing: 16px;

      @include xl() {
        letter-spacing: 4.8px;
      }

      @include l() {
        letter-spacing: 2.4px;
      }
    }
  }
}




// --------------------intro 輪播背景----------------------------
.intro {
  padding-bottom: 200px;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: -113px;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -113px;
    display: block;
    width: 50%;
    height: 100%;
    background: url('/assets/images/carousel.png');
    background-size: cover;
    background-position: center center;
    opacity: .6;
    filter: blur(12px);

    @include mobile() {
      width: 100%;
    }
  }

  &-line {
    height: 40px;
    background: linear-gradient(90deg, #7000FF 0%, #11002D 100%);
  }

  &-line:nth-child(2) {
    background: linear-gradient(90deg, #11002D 0%, #7000FF 100%);
    width: 80px;
  }

  h2 p {
    letter-spacing: 48px;

    @include pad() {
      letter-spacing: 24px;
    }
  }
}

.bg-primary-dark {
  background-color: #380c7e;
}

// --------------------intro swiper----------------------------
.alphabox {
  height: 351px;
  background-image: url(/assets/images/carousel.png);
  background-size: cover;
  background-position: center;
  padding: 16px;

  @media (min-width: 768px) {

    height: 660px;
    padding-right: 40px;
  }

  &-title {
    letter-spacing: 24px;
    font-size: 24px;
    letter-spacing: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}

.rotate {
  rotate: 180deg;
}

// --------------------輪播箭頭-------------------
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  position: initial;
  margin-top: 0;
  width: auto;
  height: auto;

  &::after {
    content: "";
  }
}

// --------------------news-----------------------

.news {
  margin-top: -152px;
}

.news-col {
  border-left: 0;

  @media (min-width: 767px) {
    border-left: 0;
  }

  @media (min-width: 992px) {
    border-left: 1px solid white;
  }
}

// --------------------news-----------------------
// --------------------share----------------------
.share {
  background: radial-gradient(#000000, #28085c 70%)
}

.share-background {
  font-size: 128px;
  color: rgba(255, 255, 255, 0.04);
  bottom: -70px;
  margin-left: -20px;

  @media (min-width: 767px) {
    font-size: 400px;
    line-height: 0.5;
    bottom: -40px;
    margin-left: 35px;
  }
}

.share {
  .swiper-slide {

    @media (min-width: 767px) {
      max-width: 416px;
    }
  }

  .share-swiper {
    padding: 0 12px;

    .swiper-wrapper {
      margin-bottom: 0;
      height: 416px;
    }
  }

  .swiper-scrollbar {
    background: rgba(255, 255, 255, 0.2);
  }

  .swiper-scrollbar-drag {
    background: #ffffff !important;
  }
}

.share {
  &-card {
    padding: 40px;
    color: #ffffff;
    min-height: 351px;
    background-color: #380c7e;
  }

  .container-fluid {
    padding: 0 12px;

    @media (min-width: 767px) {
      padding: 0 12px;
    }

    @media (min-width: 992px) {
      padding-left: 16%;
      padding-right: 0px;
    }
  }

  .container-fluid .swiper {
    margin: 0 auto;
  }

  .swiper-wrapper {
    height: 100% !important;
    flex-direction: column;
    align-items: center;
    gap: 24px;


    @media (min-width: 767px) {
      height: 416px !important;
      flex-direction: row;
    }
  }
}


.share-card:hover {
  transform: scale(0.98) !important;
}

.share-number::before {
  width: 70%;
  height: 2px;
  /* 01-04 中間的線重點 */
  content: "";
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* 01-04 中間的線重點 */
}