<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <!-- ////header///// -->
    <%- include('./layout/header'); -%>

    <section class="about text-white">
      <div class="container container-s py-160">
        <h2 class="fs-40 fs-lg-48 fw-bold pb-32">關於我們</h2>
        <div class="d-flex justify-content-lg-between">
          <p class="text-start">
            創立於2021年，我們的使命是將科技與人性化設計相結合，為您打造最佳的3D立體投影陪伴機器人。憑藉創新的技術、卓越的研發團隊以及對品質的追求，我們致力於為全球用戶提供最先進且易用的陪伴機器人。
          </p>
          <p class="text-end">
            我們擁抱變革，追求技術創新，以提供更卓越的產品給全球用戶。<br />我們始終以用戶需求為核心，致力於提供最滿意的產品與服務。
            <br />我們堅持高品質標準，確保每一款產品都經過嚴格的測試與品質把控。
            <br />我們重視團隊協作，鼓勵創意交流，共同為實現願景而努力。
          </p>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
