<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>關於我們</title>
</head>

<body>
  <!-- ////header///// -->
  <%- include('./layout/header'); -%>

    <section class="about text-white py-60 py-lg-160">
      <div class="container">
        <h2 class="fs-40 fs-lg-48 fw-bold mb-24 mb-lg-32">關於我們</h2>
        <div class="row justify-content-between">
          <p class="col-12 col-lg-6 mb-32">
            創立於2021年，我們的使命是將科技與人性化設計相結合，為您打造最佳的3D立體投影陪伴機器人。憑藉創新的技術、卓越的研發團隊以及對品質的追求，我們致力於為全球用戶提供最先進且易用的陪伴機器人。
          </p>
          <div class="col-12 col-lg-6 text-lg-end fs-14">
            <p class="mb-24 mb-lg-0">
              我們擁抱變革，追求技術創新，以提供更卓越的產品給全球用戶。
            </p>
            <p class="mb-24 mb-lg-0">
              我們始終以用戶需求為核心，致力於提供最滿意的產品與服務。
            </p>
            <p class="mb-24 mb-lg-0">
              我們堅持高品質標準，確保每一款產品都經過嚴格的測試與品質把控。
            </p>
            <p>我們重視團隊協作，鼓勵創意交流，共同為實現願景而努力。</p>
          </div>
        </div>
      </div>
      <img src="../assets/images/about_us.png" alt="關於我們" class="w-100 h-100 mt-36 mb-44 d-none d-lg-block" />
      <img src="../assets/images/mobile/about_us_mobile.png" alt="關於我們" class="w-100 h-100 mt-36 mb-44 d-lg-none" />
      <div class="container">
        <div class="col-12 col-lg-8 d-flex flex-column flex-lg-row align-items-center mx-auto">
          <span class="material-icons fs-80 me-25 mb-8"> emergency </span>
          <p>
            我們相信科技的力量能夠改變人類生活。通過不斷創新與優化，我們期待為您打造一款具有高度智能、豐富功能且呈現真實感的3D立體投影陪伴機器人，讓科技成為您生活中真誠的夥伴。
          </p>
        </div>
      </div>
    </section>
    <section class="service mt-24 mt-lg-40">

      <div class="container-fluid px-md-68">
        <div class="row mb-24 mb-lg-40">
          <div class="col-lg-4 col-md-6  col-12">
            <img src="../assets/images/hand.png" alt="alphabox+-1" class="img-fluid" />
          </div>
          <div class="col-lg-4 col-md-6  col-12 d-none d-md-block">
            <img src="../assets/images/screen.png" alt="alphabox+-2" class="img-fluid" />
          </div>
          <div class="col-lg-4 col-12 d-none d-lg-block">
            <img src="../assets/images/box.png" alt="alphabox+-3" class="img-fluid" />
          </div>
        </div>
      </div>




      <h2 class="container fs-24 fs-md-64 fs-lg-96 fw-bold text-center mb-24 mb-lg-80 d-flex justify-content-between">
        <span>A</span>
        <span>L</span>
        <span>P</span>
        <span>H</span>
        <span>A</span>
        <span>B</span>
        <span>O</span>
        <span>X</span>
        <span>+</span>
      </h2>
      <div
        class="container-fluid px-md-68 d-flex flex-column flex-lg-row justify-content-between align-items-end  pb-24 pb-lg-80">


        <p class="col-lg-5 col-md-12 mb-16 mb-lg-0">
          我們提供多款3D立體投影陪伴機器人，涵蓋知識型、娛樂型、生活型和情感型等不同類別，以滿足您的各種需求。每款產品都經過精心設計，具備高度智能化、多功能和人性化操作等特點，讓您在日常生活中獲得更便利的陪伴體驗。
        </p>
        <p class="d-inline-block">
          此外，我們還提供完善的售後服務，包括
          <span class="mx-12 position-relative d-inline-block">產品保固</span>、
          <span class="mx-12 position-relative d-inline-block">技術支援</span>及
          <span class="mx-12 position-relative d-inline-block">線上客服</span>
          協助，確保您在購買與使用過程中得到全面支持。
        </p>
      </div>
      <div class="mx-md-68 border-top border-1 border-black pb-24"></div>
      <div class="mx-md-68 border-bottom border-12 border-black"></div>
    </section>
    <section class="py-60 py-lg-160">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7">
            <img src="../assets/images/meeting.png" alt="meeting" class="w-100 mb-16 mb-lg-0" />
          </div>
          <div class="col-12 col-lg-5">
            <p>
              展望未來，我們將繼續投入研發，引領3D立體投影陪伴機器人技術的發展。通過結合虛擬現實、擴增現實和人工智能等領域的最新技術，我們將努力為用戶帶來更多前所未有的創新體驗。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="position bg-black text-white py-48 py-lg-24 px-12">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-8 mb-24 mb-lg-0">
            <p>
              我們熱忱歡迎有志之士加入我們的團隊，共同創造更美好的未來。如果您對科技充滿熱情，並擁有相關領域的專業知識，請隨時查看我們的招聘信息或與我們聯繫，讓我們攜手共進。
            </p>
          </div>
          <div class="col-12 col-lg-2">
            <button type="button"
              class="btn btn-white btn-submit-primary w-100 d-flex align-items-center justify-content-center border-0 rounded-1 py-8">
              <span class="material-symbols-outlined me-4"> point_scan </span>查看職缺
            </button>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>