<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>聯絡我們</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div style="background: radial-gradient(50% 50% at 50% 50%, #300871 0%, #000 100%);">
      <div class="container pt-md-160 pt-60">
        <div class="row mb-16">
          <div class="col-md-8 col-12">
            <h2 class="fs-lg-64 fs-md-48 fs-40 fw-md-900 fw-bold text-white contact-us-title">聯絡我們</h2>
          </div>
        </div>

        <!-- row-1 -->
        <div class="row">
          <div class="col-lg-1 col-md-0 col-0"></div>
          <div class="col-lg-6 col-md-12 col-12">
            <p class="text-white mb-lg-64 mb-md-32 mb-32">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24
              小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
            <p class="fw-bold text-white mb-lg-64 mb-md-32 mb-32">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>

            <form class="mb-md-160 mb-60">
              <div class="form-floating mb-16">
                <input type="text" class="form-control" id="name" placeholder="姓名">
                <label for="name" class="fs-md-20 fs-16 fw-bold dark-1F0F39">姓名</label>
              </div>
              <div class="form-floating mb-16">
                <input type="email" class="form-control" id="email2" placeholder="EMAIL">
                <label for="email2" class="fs-md-20 fs-16 fw-bold dark-1F0F39">EMAIL</label>
              </div>
              <div class="form-floating mb-16">
                <input type="text" class="form-control" id="phone" placeholder="聯絡電話">
                <label for="phone" class="fs-md-20 fs-16 fw-bold dark-1F0F39">聯絡電話</label>
              </div>
              <div class="form-floating mb-16">
                <textarea class="form-control" placeholder="COMMENTS" id="comments2"
                  style="height: 120px; resize: none;"></textarea>
                <label for="comments2" class="fs-md-20 fs-16 dark-1F0F39">Comments</label>
              </div>
              <button
                class="btn btn-submit-primary w-100 btn-primary py-8 gap-4 d-flex align-items-center rounded-1 fw-500 justify-content-center fs-md-24 fs-16">
                <span class="material-symbols-outlined fs-24 text-white align-middle"> point_scan </span>
                送出
              </button>
            </form>
          </div>
          <div class="col-lg-1 col-md-0 col-0"></div>
          <div class="col-lg-4 col-md-5 col-12">
            <h6 style="color:rgba(255, 255, 255, 0.50);">客服時間</h6>
            <p class="text-white mb-40">週一至週五 09:00-18:00</p>
            <h6 style="color:rgba(255, 255, 255, 0.50);">聯絡地址</h6>
            <a href="https://maps.google.com/?q=22.628114760430144,120.31044511782538"
              class="d-block text-white mb-40">高雄市新興區民生一路 56 號</a>
            <h6 style="color:rgba(255, 255, 255, 0.50);">聯絡電話</h6>
            <a href="tel:+886-2-12345678" class="d-block text-white">+886-2-12345678</a>
            <a href="mailto:customer@alphabox.com" class="d-block text-white">mailto:customer@alphabox.com</a>
          </div>
        </div>
      </div>


      <!-- row-2 -->
      <div class="border-top border-1 border-white mt-lg-0 mt-md-80 mt-80">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-7 col-md-0 col-0"></div>
            <div class="col-lg-5 col-md-12 col-12">

              <ul
                class="d-flex justify-content-between flex-lg-row flex-md-column flex-column  gap-lg-0 gap-md-16 ps-0 my-lg-0 my-40 social-medial">
                <li>
                  <a href="#" class="text-white fw-350 d-block my-lg-40 my-md-0 my-0">INSTAGRAM</a>
                </li>
                <li>
                  <a href="#" class="text-white fw-350 d-block my-lg-40 my-md-0 my-0">FACEBOOK</a>
                </li>
                <li>
                  <a href="#" class="text-white fw-350 d-block my-lg-40 my-md-0 my-0">TWITTER</a>
                </li>
                <li>
                  <a href="#" class="text-white fw-350 d-block my-lg-40 my-md-0 my-0">LINKEDIN</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- section -->
    <div class="container  mb-lg-80 mb-md-24 mb-24">
      <div class="row mb-lg-24 mb-md-16 mb-16">
        <div class="col-12 mt-lg-160 mt-md-60 mt-60">
          <h3 class="letter-spacing-64 fs-lg-64 fs-md-48 fs-40 fw-md-900 fw-bold">選擇自己<br class="d-lg-none">要的角色</h3>
        </div>
      </div>
      <p class="fs-lg-48 fs-md-24 fs-24 fw-900"><span class="text-primary me-lg-24 me-8">20K+</span>使用者喜歡我們的服務</p>
    </div>

    <!-- Diane -->
    <div class="show-bg show-bg-diane">
      <div class="container position-relative">
        <span class="fs-md-64 fs-40 text-white ff-shrikhand position-absolute">Diane</span>
      </div>
    </div>


    <!-- Felix -->
    <div class="show-bg show-bg-felix">
      <div class="container position-relative">
        <span class="fs-md-64 fs-40 text-white ff-shrikhand position-absolute">Felix</span>
      </div>
    </div>


    <!-- Karina -->
    <div class="show-bg show-bg-karina">
      <div class="container position-relative">
        <span class="fs-md-64 fs-40 text-white ff-shrikhand position-absolute">Karina</span>
      </div>
    </div>


    <!-- Vito -->
    <div class="show-bg show-bg-vito mb-lg-120 mb-0">
      <div class="container position-relative">
        <span class="fs-md-64 fs-40 text-white ff-shrikhand position-absolute">Vito</span>
      </div>
    </div>


    <%- include('./layout/footer'); -%>


      <script type="module" src="../main.js"></script>

</body>

</html>