<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

   <div class="home-background">

   </div>



   

  <div class="item-card">
    <ol class="list-unstyled d-flex">
      <li class="col-6 col-lg-3">
        <a href="#" class="card border-0 rounded-0">
          <h4 class="ff-shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
            <span class="ff-saira fs-m fs-md-l fw-light mb-16 mb-md-20">1</span>
            Vito
          </h4>
          <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
            <div class="text-white">
              <h5 class="h6 fw-bold mb-0">情感型</h5>
              <p class="mb-0">情感識別/心情分析/心靈支持</p>
            </div>
            <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
          </div>
        </a>
      </li>
    </ol>
  </div>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
