<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- /////home///// -->
    <section class="home">
      <div class="container-wide pt-28 pt-lg-56">
        <div class="row gx-lg-32 flex-column-reverse flex-lg-row mb-lg-56">
          <div
            class="d-none d-lg-flex col-3 text-white text-bottom align-items-end"
          >
            <p class="border-bottom border-1 border-white pb-8 w-100">
              最新消息！新版本 v15.4 釋出，搶先體驗！
            </p>
          </div>
          <div class="home-circle col-12 col-lg-6 mb-md-40">
            <img
              src="../assets/images/circle.png"
              alt="ALPHABOX+circle"
              class="mx-auto d-block"
            />
          </div>
          <div
            class="home-studio col-12 col-lg-3 d-flex flex-column justify-content-between mb-32"
          >
            <span class="text-white border-top border-1 border-white pt-4"
              >ALPHABOX+ STUDIO</span
            >
            <span class="text-info d-none d-lg-block"
              >Copyright © 2023 Hexschool.</span
            >
          </div>
        </div>
        <div
          class="home-img row g-16 gy-lg-0 gx-lg-32 align-items-end position-relative mb-32 mb-lg-40 mt-120 mt-md-120 mt-xxl-64"
        >
          <div class="img-name col-12 col-md-6 col-lg-3 position-relative">
            <a href="#">
              <img
                src="../assets/images/diane.png"
                alt="diane"
                class="w-100 d-none d-lg-block"
              />
              <img
                src="../assets/images/diane_square1.png"
                alt="diane"
                class="w-100 d-lg-none"
              />
            </a>
          </div>
          <div class="img-name col-12 col-md-6 col-lg-3 position-relative">
            <a href="#">
              <img
                src="../assets/images/felix.png"
                alt="felix"
                class="w-100 d-none d-lg-block"
              />
              <img
                src="../assets/images/felix_square1.png"
                alt="felix"
                class="w-100 d-lg-none"
              />
            </a>
          </div>
          <div class="img-name col-12 col-md-6 col-lg-3 position-relative">
            <a href="#">
              <img
                src="../assets/images/Karina.png"
                alt="Karina"
                class="w-100 d-none d-lg-block"
              />
              <img
                src="../assets/images/Karina_square1.png"
                alt="Karina"
                class="w-100 d-lg-none"
              />
            </a>
          </div>
          <div class="img-name col-12 col-md-6 col-lg-3 position-relative">
            <a href="#">
              <img
                src="../assets/images/Vito.png"
                alt="Vito"
                class="w-100 d-none d-lg-block"
              />
              <img
                src="../assets/images/Vito_square1.png"
                alt="Vito"
                class="w-100 d-lg-none"
              />
            </a>
          </div>
          <div
            class="home-title col-12 col-xxl-6 mx-auto position-absolute text-white"
          >
            <p class="d-flex justify-content-between fs-20 fs-md-32">
              <span>A</span>
              <span>L</span>
              <span>P</span>
              <span>H</span>
              <span>A</span>
              <span>B</span>
              <span>O</span>
              <span>X</span>
              <span>+</span>
            </p>
            <p class="fw-bold text-center">
              擁抱未來科技，專屬您的3D立體投影陪伴機器人
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- /////introduction///// -->
    <section class="intro text-white position-relative">123</section>
    <!-- section -->
    <div style="background-color: #1f0f39">
      <div class="container py-md-144 pt-60 pb-80">
        <div class="row">
          <div class="col-md-5 col-12">
            <h2 class="fs-md-48 fs-40 letter-spacing-48 text-white fw-bold">
              聯絡我們
            </h2>
            <div class="d-flex gap-8 mt-20 mb-md-54 mb-36">
              <div
                class="bg-white rounded-circle"
                style="height: 12px; width: 12px"
              ></div>
              <div
                class="bg-white rounded-2 mb-54"
                style="height: 12px; width: 124px"
              ></div>
            </div>
            <p class="fw-bold text-white mb-4">讓科技成為您的最佳夥伴</p>
            <p class="fw-bold text-white">立即體驗神奇功能並享限時優惠！</p>
          </div>

          <div class="col-md-7 col-12 mt-md-0 mt-24">
            <span class="material-symbols-outlined fs-80 mb-16 text-white">
              emergency
            </span>
            <div class="form-floating mb-16">
              <input
                type="email"
                class="form-control align-middle"
                id="email"
                placeholder="EMAIL"
              />
              <label for="email" class="fs-20 dark-1F0F39">Email address</label>
            </div>
            <div class="form-floating mb-16">
              <textarea
                class="form-control"
                placeholder="COMMENTS"
                id="comments"
                style="height: 120px; resize: none"
              ></textarea>
              <label for="comments" class="fs-20 dark-1F0F39">Comments</label>
            </div>
          </div>
          <div class="col-md-4 ms-md-auto col-12">
            <button
              class="btn w-100 btn-primary py-8 gap-4 d-flex align-items-center rounded-1 fw-500 justify-content-center"
            >
              <span
                class="material-symbols-outlined fs-24 text-white align-middle"
              >
                point_scan
              </span>
              送出
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- section -->
    <div class="item-card">
      <ol class="list-unstyled d-flex flex-wrap">
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-1 border-0 rounded-0">
            <h4
              class="ff-shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80"
            >
              <span class="ff-saira fs-m fs-md-l fw-light mb-16 mb-md-20"
                >1</span
              >
              Diane
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h6 fw-bold">知識型</h5>
                <p>學術領導/知識分享/智能問答</p>
              </div>
              <img
                src="https://hackmd.io/_uploads/ByjLe2_3h.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-2 border-0 rounded-0">
            <h4
              class="ff-shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80"
            >
              <span class="ff-saira fs-m fs-md-l fw-light mb-16 mb-md-20"
                >2</span
              >
              Felix
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h6 fw-bold">娛樂型</h5>
                <p>音樂播放/語音互動/遊戲陪伴</p>
              </div>
              <img
                src="https://hackmd.io/_uploads/ByjLe2_3h.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-3 border-0 rounded-0">
            <h4
              class="ff-shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-0 mb-md-80"
            >
              <span class="ff-saira fs-m fs-md-l fw-light mb-16 mb-md-20"
                >3</span
              >
              Karina
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h6 fw-bold">生活型</h5>
                <p>情感識別/心情分析/心靈支持</p>
              </div>
              <img
                src="https://hackmd.io/_uploads/ByjLe2_3h.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-4 border-0 rounded-0">
            <h4
              class="ff-shrikhand italic text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-0 mb-md-80"
            >
              <span class="ff-saira fs-m fs-md-l fw-light mb-16 mb-md-20"
                >4</span
              >
              Vito
            </h4>
            <div
              class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between"
            >
              <div class="text-white">
                <h5 class="h6 fw-bold">情感型</h5>
                <p>情感識別/心情分析/心靈支持</p>
              </div>
              <img
                src="https://hackmd.io/_uploads/ByjLe2_3h.png"
                alt="arrow"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
      </ol>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
