<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>測試</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <i class="icofont-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <i class="icofont-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- .page-link {
                // 寬高最小值
                min-width: 40px;
                min-height: 40px;
              
                // 水平置中、垂直置中內層元素
                display: flex;
                justify-content: center;
                align-items: center;
              } -->
            <p class="fs-lg-60 fs-md-48 fs-24 p-40">文字大小</p>
            <p class="fs-lg-60 fs-md-48 fs-24 p-40 ff-shrikhand">ALPHABOX+</p>
            <span class="material-symbols-outlined">
                emergency
            </span>

            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>

            <span class="material-symbols-outlined">
                arrow_circle_left
            </span>

            <span class="material-symbols-outlined">
                line_end_arrow_notch
            </span>

            <span class="material-symbols-outlined">
                line_start_arrow_notch
            </span>

            <span class="material-symbols-outlined">
                point_scan
            </span>
        </div>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>